html {
  font-family: "Avenir Next", Helevetica, sans-serif;
}

.checkbox {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.title {
	text-align: center;
	margin: 20px;
}

.todo-list {
	margin-top: 20px;
	margin-left: 50px;
}

.todo-list-item {
	font-size: 30px;
	margin: 0;
	cursor: pointer;
}

.todo-list-item:hover {
  text-decoration: line-through;
}

.todo-list-item.item-is-done {
	color: gray;
	text-decoration: line-through;
}

.remove-button {
	display: none;
}

.todo-list-item:hover > .remove-button {
	display: inline-block;
}

.remove-button {
	border: 0;
	background: transparent;
	cursor: pointer;
}

.remove-button-icon {
	width: 20px;
}
